/* FONTS */
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Open_Sans/OpenSans-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Open_Sans/OpenSans-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

/* BASE STYLES */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#container {
    animation: fadein cubic-bezier(0.55, 0.06, 0.68, 0.19) 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    color: #333333;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}

hr {
    max-width: 800px;
    margin: 50px auto;
}

.grid {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(70px, auto);
}

.grid-full-width {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(70px, auto);
}

/* CALL TO ACTION BUTTON */
.btn-cta, form input[type="submit"] {
    display: inline-block;
    background-color: #000000;
    color: #ffffff;
    border: 1.5px solid #000000;
    border-radius: 5px;
    height: 45px;
    line-height: 45px;
    padding: 0 50px;
    transition: all 0.2s ease;
}

.btn-cta:hover, form input[type="submit"]:hover {
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
}

/* HEADER */
.header-wrap {
    padding-left: 30px;
    padding-right: 30px;
}

header {
    color: #ffffff;
}

header .logo {
    grid-column: 1 / 4;
    display: flex;
    align-items: center;
}

header .logo h1 {
    color: #ffffff;
    margin-bottom: 0;
    font-size: 2.5em;
    font-weight: 300;
    letter-spacing: -0.05em;
}

header nav {
    grid-column: 4 / 13;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header nav span {
    display: none;
    width: 40px;
    border: 2px solid #ffffff;
    border-radius: 3px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: inherit;
    padding: 0 30px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 14px;
}

nav .hamburger input {
    position: absolute;
    top: 10px;
    right: 20px;
    display: block;
    width: 60px;
    height: 60px;
    opacity: 0;
    z-index: 2;
}

.nav-inner {
    padding: 20px;
}

/* -------- HOME -------- */

/* INTRO */

.intro-wrap {
    background-image: url(../img/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 75%;
    margin-top: -70px;
}

.intro {
    grid-auto-rows: minmax(720px, auto);
}

.intro .intro-txt {
    grid-column: 2 / 7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -150px;
}

.intro .intro-txt h1 {
    color: #ffffff;
    font-size: 3.5em;
    letter-spacing: 0.05em;
    line-height: 1.2em;
    margin-bottom: 20px;
}

.intro .intro-txt h3 {
    color: #ffffff;
    font-size: 1.4em;
    line-height: 1.5em;
}

/* WORK */

.work {
    grid-auto-rows: minmax(500px, auto);
}

.work .work-left {
    grid-column: 2 / 7;
}

.work .work-left.work-img {
    padding-top: 40px;
    opacity: 0.9;
}

.work .work-right {
    grid-column: 8 / 12;
}

.work .work-txt {
    padding-top: 100px;
}

.work h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

/* VIDEO */

.video-wrap {
    padding: 30px 0;
    background-color: #000000;
}

.video-wrap video {
    max-width: 100%;
    grid-column: 2 / 12;
}

/* GAMING */

.gaming-wrap {
    background-color: #f6f6f6;
}

.gaming {
    grid-auto-rows: minmax(500px, auto);
}

.gaming .gaming-txt {
    grid-column: 2 / 7;
    padding-top: 100px;
}

.gaming .gaming-txt h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.gaming .gaming-img {
    grid-column: 7 / 13;
    display: flex;
    align-items: center;
    opacity: 0.9;
}

.video-gaming {
    padding: 0;
}

/* FEED */

.feed-wrap {
    padding-top: 80px;
    padding-bottom: 80px;
}

.feed-wrap .feed-title-holder {
    text-align: center;
}

.feed-wrap .feed-title-holder h2 {
    margin-bottom: 0;
}

.feed-wrap .feed {
    grid-column: 1 / 13;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 30px;
}

.feed-wrap .feed .feed-item {
    flex-basis: 30%;
}

.feed-wrap .feed .feed-item h3 {
    margin-top: 15px;
    font-weight: 400;
    text-align: center;
}

.feed-wrap .feed .feed-item .img-holder {
    height: 300px;
}

.feed-wrap .feed .feed-item .post-image {
    display: block;
    height: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
}

.feed-wrap .feed .feed-item .img-holder:hover .post-image:after {
    transform: scale(1.1);
}

.feed-wrap .feed .feed-item .post-image:after {
    content: '';
    display: block;
    background: inherit;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all 0.5s ease;
}

.feed-wrap .feed-see-more-holder {
    text-align: center;
    padding-top: 20px;
}

footer {
    padding-top: 30px;
    padding-bottom: 10px;
    background-color: #000000;
}

footer h1 {
    font-size: 2.5em;
    font-weight: 300;
    letter-spacing: -0.05em;
}

footer p {
    font-size: 0.9em;
}

footer h1, footer p {
    color: #ffffff;
}

footer .company {
    grid-column: 1 / 7;
}

footer .contact {
    grid-column: 7 / 13;
    text-align: right;
}

/* PAGE INTRO */

.page .intro {
    grid-auto-rows: minmax(400px, auto);
}

.page .intro .intro-txt {
    grid-column: 1 / 13;
    align-items: center;
    margin-top: 0;
}

.page .intro .intro-txt h1 {
    text-align: center;
}

/* PAGE WORK */

.page.page-work .intro-wrap {
    background-image: url(../img/work-title-bg.jpg);
    background-position: center 40%;
}

.page .work .work-full-width-img {
    grid-column: 3 / 11;
}

.page .work .work-full-width-img a.btn-cta {
    display: block;
    margin: 0 auto 50px;
    width: 230px;
}

.page .work .work-full-width-img h2 {
    text-align: center;
}

.page .work .work-full-width-img img {
    max-width: 100%;
    opacity: 0.9;
}

.page .work ul {
    max-width: 600px;
    margin: 40px auto 0;
}

.page .work ul li {
    color: #333333;
    line-height: 2.5em;
}

/* PAGE GAMING */

.page.page-gaming .intro-wrap {
    background-image: url(../img/gaming-title-bg.jpg);
    background-position: center center;
}

.page.page-gaming .gaming-keyboard-img {
    max-width: 150%;
}

.page.page-gaming table {
    border-collapse: collapse;
    margin-top: 40px;
}

.page.page-gaming table tr:nth-child(odd) {
    background-color: #eeeeee;
}

.page.page-gaming table td {
    padding: 20px 15px;
}

/* PAGE FEED */

.page.page-feed .intro-wrap {
    background-image: url(../img/feed-title-bg.jpg);
    background-position: center center;
}

.page.page-feed .feed-title-holder h2 {
    margin-bottom: 30px;
}

.page.page-feed .feed-title-holder a:hover {
    text-decoration: underline;
}

.page.page-feed .feed-item {
    margin-bottom: 30px;
}

/* PAGE CONTACT */

.page.page-contact .intro-wrap {
    background-image: url(../img/contact-title-bg.jpg);
    background-position: center 5%;
}

.page.page-contact .form-wrap {
    padding: 70px 0;
}

.page.page-contact .form-wrap h2 {
    text-align: center;
    margin-bottom: 30px;
}

.page.page-contact .form {
    text-align: center;
}

.page.page-contact form {
    grid-column: 1 / 13;
}

.page.page-contact form p {
    margin-bottom: 50px;
}

.page.page-contact form input[type="text"],
.page.page-contact form input[type="email"],
.page.page-contact form select {
    width: 50%;
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #dddddd;
}

.page.page-contact form select {
    font-family: 'Open Sans', sans-serif;
    padding-left: 7px;
    color: #666666;
}

.page.page-contact form textarea {
    width: 50%;
    padding: 5px 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    border: 2px solid #dddddd;
    resize: none;
}

.page.page-contact form input[type="text"],
.page.page-contact form input[type="email"],
.page.page-contact form select,
.page.page-contact form textarea {
    outline: none;
    transition: all 0.2s ease;
}

.page.page-contact form input[type="text"]:focus,
.page.page-contact form input[type="email"]:focus,
.page.page-contact form select:focus,
.page.page-contact form textarea:focus {
    border-color: #000000;
}

@media screen and (max-width: 768px) {
    header nav ul {
        display: none;
        position: absolute;
        top: 70px;
        right: 0;
        border: 2px solid #ffffff;
        border-right: none;
        transition: all 0.2s ease;
        background-color: rgba(0, 0, 0, 0.5);
        transform-origin: 0px 0px;
    }

    header nav ul li {
        display: block;
        padding: 10px;
        font-size: 16px;
    }

    header nav ul li a {
        display: block;
        padding: 5px 15px 5px 60px;
    }

    header nav span {
        display: block;
    }

    header nav .hamburger {
        display: flex;
        flex-direction: column;
        margin-top: 12px;
    }

    header nav .hamburger span {
        margin-bottom: 8px;
    }

    header nav .hamburger input:checked ~ ul {
        display: block;
    }

    .work .work-left.work-img {
        padding-top: 90px;
    }

    .page.page-work .work-left img,
    .page.page-work .work-right img {
        padding-top: 100px;
    }

    hr {
        max-width: 80%;
    }
}

@media screen and (max-width: 600px) {
    .intro .intro-txt {
        grid-column: 2 / 9;
    }

    .intro .intro-txt h1 {
        font-size: 3em;
    }

    .intro .intro-txt h3 {
        font-size: 1em;
        font-weight: 400;
    }

    .work, .gaming {
        grid-auto-rows: minmax(300px, auto);
    }

    .work h2,
    .gaming .gaming-txt h2 {
        font-size: 2em;
    }

    .work h3,
    .gaming .gaming-txt h3 {
        font-size: 1.2em;
        font-weight: 400;
    }

    .work .work-left,
    .work .work-right {
        grid-column: 1 / 13;
        text-align: center;
    }

    .gaming .gaming-txt,
    .gaming .gaming-img {
        grid-column: 1 / 13;
        text-align: center;
    }

    .gaming-img {
        padding-bottom: 50px;
    }

    .feed-wrap .feed {
        flex-direction: column;
    }

    .page.page-work .work-left img,
    .page.page-work .work-right img,
    .page.page-work .work-txt {
        padding-top: 50px;
    }

    .page.page-work .work,
    .page.page-gaming .work {
        grid-auto-rows: minmax(300px, auto);
    }

    .page.page-gaming .work .work-txt {
        padding-top: 50px;
    }

    .page.page-gaming .gaming-keyboard-img {
        max-width: 100%;
    }

    .intro {
        grid-auto-rows: minmax(500px, auto);
    }

    .intro .intro-txt {
        margin-top: 0;
    }

    .work .work-txt {
        padding-top: 50px;
    }

    .page .work .work-full-width-img {
        grid-column: 2 / 12;
    }

    .page .intro {
        grid-auto-rows: minmax(300px, auto);
    }

    .page.page-contact form input[type="text"],
    .page.page-contact form input[type="email"],
    .page.page-contact form select,
    .page.page-contact form textarea {
        width: 100%;
    }

    .gaming .gaming-txt {
        padding-top: 50px;
    }
}
